@model HomeOutsideWeatherStation.Models.Home.HomeIndexModel

@{
    ViewBag.Title = "Home Outside Weather Station";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Home Outside Weather Station</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <td>Forecast</td>
                    <td>History</td>
                    <td>Calendar</td>
                    <td>Rain / Snow</td>
                    <td>Health</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                Elev @Html.DisplayFor(x => Model.StationElevation) m @Html.DisplayFor(x => Model.StationLatitude) lat, @Html.DisplayFor(x => Model.StationLongitude) long | Updated @Html.DisplayFor(x => Model.StationLastUpdated) sec ago
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4>Todo</h4>
                    <h4>Todo</h4>
                    <h4>Todo</h4>
                </div>
                <div class="col-md-5">
                    <h1>@Html.DisplayFor(x => Model.CurrentTemperature) °C</h1>
                    <h5>Feels Like @Html.DisplayFor(x => Model.CurrentTemperatureFeelsLike) °C</h5>
                </div>
                <div class="col-md-4">
                    <h2>@Html.DisplayFor(x => Model.CurrentWindSpeed)</h2>
                    <h5>Wind from @Html.DisplayFor(x => Model.CurrentWindDirection)°</h5>
                    <h5>Gusts @Html.DisplayFor(x => Model.CurrentWindGusts) km/h</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5><b>Today</b></h5>
                    <h6>High @Html.DisplayFor(x => Model.TodayTemperatureMaximum) | Low @Html.DisplayFor(x => Model.TodayTemperatureMinimum) °C</h6>
                    <h6>Precip. @Html.DisplayFor(x => Model.TodayRainTotal) mm</h6>
                </div>
                <div class="col-md-6">
                    <h5><b>Yesterday</b></h5>
                    <h6>High @Html.DisplayFor(x => Model.YesterdayTemperatureMaximum) | Low @Html.DisplayFor(x => Model.YesterdayTemperatureMinimum) °C</h6>
                    <h6>Precip. @Html.DisplayFor(x => Model.YesterdayRainTotal) mm</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <table class="HomeCurrentDataTable">
                <tr>
                    <td>Pressure</td>
                    <td>@Html.DisplayFor(x => Model.CurrentPressure) hPa</td>
                </tr>
                <tr>
                    <td>Visibility</td>
                    <td>@Html.DisplayFor(x => Model.CurrentVisibility) km</td>
                </tr>
                <tr>
                    <td>Clouds</td>
                    <td>@Html.DisplayFor(x => Model.CurrentClouds)</td>
                </tr>
                <tr>
                    <td>Dew Point</td>
                    <td>@Html.DisplayFor(x => Model.CurrentDewPoint) °C</td>
                </tr>
                <tr>
                    <td>Humidity</td>
                    <td>@Html.DisplayFor(x => Model.CurrentHumidity)%</td>
                </tr>
                <tr>
                    <td>Rainfall</td>
                    <td>@Html.DisplayFor(x => Model.CurrentRainfall) mm</td>
                </tr>
                <tr>
                    <td>Snow Depth</td>
                    <td>@Html.DisplayFor(x => Model.CurrentSnowDepth)</td>
                </tr>
                <tr>
                    <td>Sunrise</td>
                    <td>@Model.Sunrise.ToString("hh:mm tt")</td>
                </tr>
                <tr>
                    <td>Sunset</td>
                    <td>@Model.Sunset.ToString("hh:mm tt")</td>
                </tr>
                <tr>
                    <td>Moon</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>10-Day Weather History</h3>
            <table class="TenDayWeatherHistoryTable">
                <tbody>
                    <tr class="TenDayWeatherHistoryTableTopRow">
                        @foreach (var day in Model.TenDayHistoryGraph.DayInformation)
                        {
                            <td>
                                <center><h6 style="margin-top: 0px; margin-bottom:0px;">@day.Date.DayOfWeek.ToString().Substring(0, 3) @day.Date.ToString("MM/dd")</h6></center>

                            </td>
                        }
                    </tr>
                    <tr>
                        @foreach (var day in Model.TenDayHistoryGraph.DayInformation)
                        {
                            <td>
                                <center><h6 style="margin-top: 0px; margin-bottom:0px;">@day.TemperatureHigh° | @day.TemperatureLow°</h6></center>

                            </td>
                        }
                    </tr>
                    <tr>
                        @foreach (var day in Model.TenDayHistoryGraph.DayInformation)
                        {
                            <td>
                                <center><h6 style="margin-top: 0px; margin-bottom:0px;">Todo</h6></center>
                                <br />
                                <center><h6 style="margin-top: 0px; margin-bottom:0px;">@day.Rain mm</h6></center>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
            <div id="TemperatureFeelsLikeDewPointChart"></div>
            <div class="row">
                <div class="col-md-5 col-md-offset-7">
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <div class="SeriesColor">
                                    <div class="SeriesColorText">Dew Point [°C]</div>
                                    <div class="DewPointBox"></div>
                                </div>
                            </td>
                            <td>
                                <div class="SeriesColor">
                                    <div class="SeriesColorText">Feels Like [°C]</div>
                                    <div class="FeelsLikeBox"></div>
                                </div>
                            </td>
                            <td>
                                <div class="SeriesColor">
                                    <div class="SeriesColorText">Temperature [°C]</div>
                                    <div class="TemperatureBox"></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="HumidityPressureChart"></div>
            <div class="row">
                <div class="col-md-3 col-md-offset-9">
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <div class="SeriesColor">
                                    <div class="SeriesColorText">Humidity [%]</div>
                                    <div class="HumidityBox"></div>
                                </div>
                            </td>
                            <td>
                                <div class="SeriesColor">
                                    <div class="SeriesColorText">Pressure [hPa]</div>
                                    <div class="PressureBox"></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="WindChart"></div>
            <div class="row">
                <div class="col-md-3 col-md-offset-9">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="SeriesColor">
                                        <div class="SeriesColorText">Wind [km/h]</div>
                                        <div class="WindSpeedBox"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="SeriesColor">
                                        <div class="SeriesColorText">Gust [km/h]</div>
                                        <div class="GustSpeedBox"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="PowerChart"></div>
            <div class="row">
                <div class="col-md-3 col-md-offset-9">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="SeriesColor">
                                        <div class="SeriesColorText">Battery [V]</div>
                                        <div class="BatteryBox"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="SeriesColor">
                                        <div class="SeriesColorText">Solar [V]</div>
                                        <div class="SolarBox"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>

<script type="text/javascript" src="~/Content/Home/TemperatureFeelsLikeDewPointChart.js"></script>
<script type="text/javascript" src="~/Content/Home/HumidityPressureChart.js"></script>
<script type="text/javascript" src="~/Content/Home/WindChart.js"></script>
<script type="text/javascript" src="~/Content/Home/PowerChart.js"></script>


<!--
<h6>Home Outside Weather Station</h6>
Temperature: @Model.CurrentTemperature
<br />
Feels like: @Html.DisplayFor( x => Model.CurrentTemperatureFeelsLike)
<br />
Heat index: @Html.DisplayFor(x => Model.CurrentHeatIndex)
<br/>
Dew point: @Html.DisplayFor(x => Model.CurrentDewPoint)
    -->
